97 lines (83 sloc)  1.718 kb RawBlameHistory   
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}
 
form {
  display: inline-block;
}

.input {
  padding: 1em 2em;
  margin: auto;
  border-top: solid 3px #808080;
  border-left: solid 3px #808080;
  border-right: solid 3px #808080;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #B3B3B3;
  width: 20em;
  text-align: center;
  overflow: hidden;
  color: white;
}

.title {
  font-weight: bold;
  display: block;
}

.main-input {
  float: left;
  width: 75%;
  margin: 0;
}

.button {
  float: right;
  text-align: center;
  margin: 0;
  padding: none;
  width: 25%;
  border: none;
  border-radius: 1px;
  background-color: #808080;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.list-container{
  width: 20em;
  border-bottom: solid 3px #808080;
  border-left: solid 3px #808080;
  border-right: solid 3px #808080;
  border-top: solid 3px #808080;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 2em 2em;
  overflow: hidden;
  margin: auto;
  background-color: white;  
}

.delete{
  float: right;
}

.list{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}